body
{
	background-image: url("https://media.flysurf.com/images/skins/fond_site_gabarit_prt_2019_20_03_2019_17_42_55.jpg");
	background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
